@import "../head.styl"

.info_box
    padding 20px 15px
    background-color #fff
.info_img
    background url("../../img/log in_user-head@2x.png") no-repeat center
    background-size 100%
    width 65px
    height 65px
    margin 0 auto
.info_name
    text-align center
    line-height 24px
    font-size 1.2rem
    font-family "Arial"," Heiti SC","宋体",sans-serif
.info_desc
    text-align center
    line-height 18px
    font-size 14px
    margin-top 5px
    color #646464

.info_edit
    width 6em
    margin 0 auto
    padding 4px 10px
    border 1px solid #ffa66b
    border-radius 5px
    color #ffa66b
    line-height 30px
    margin-top 10px
.info-cells
    margin-top 20px
    background-color #fff
.info-cell
    display flex
    padding 0 15px
    line-height 40px
    position relative
    &:after
        content ''
        position absolute
        bottom 0
        left 15px
        right 0
        z-index 5
        display block
        height 1px
        width 100%
        background-color #e1e1e1

.info-name
    flex 3
    font-size 0.875em
    color #646464

.info-content
    flex 4
    text-indent 10px
    font-family "Arial"," Heiti SC","宋体",sans-serif
.image-cell
    display flex
    height 110px
    background-color #fff
.image-block
    flex 1
    height 60px
    border 1px solid #ccc
    border-radius 5px
    margin 15px
    background-color #878787
    .title
        font-size 12px
        color #646464
        text-align center
        margin-top 70px


