body
    background-color #efefef
.header
    display flex
    height 50px
    background-color #fff
    position relative
    &:after
        content ''
        position absolute
        bottom 0
        left 0
        right 0
        z-index 5
        display block
        height 1px
        width 100%
        background-color #e1e1e1
.icon-back
    display block
    width 50px
    height 50px
    background url("../../img/nav_icon_back@2x.png") no-repeat center
    background-size 25%

.header_title
    flex 1
    padding-right 50px
    line-height 50px
    text-align center
    font-family "Arial"," Heiti SC","宋体",sans-serif

.block_box
    display flex
    padding 15px
    background-color #fff
    margin-top 5px

    .img_box
        flex 3
        background url("../../img/content_img_list@2x.png") no-repeat center
        background-size 100%
    .info_box
        flex 5
        margin-left 15px

        .info-title
            position relative
            font-size 16px
            .info-one
                position absolute
                right 0px
                font-size 12px
                color #646464
                top 3px
        .info-address
            font-size 14px
            color #7f7f7f
            padding-top 5px
        .info-tag_box
            border 1px solid #ea5404
            border-radius 5px
            color #ea5404
            width 60px
            height 15px
            line-height 12px
            margin-top 5px
            margin-left 3px

            .info-info
                margin-left 6px
                text-align center
                font-size 12px

        .info-price
            font-size 12px
            position relative
            margin-top 5px
            color #646464
            .info-text
                font-style normal
                font-size 14px
                color #ea5404

            .info-boss
                position absolute
                right 0
                color #646464
                bottom 0