body {
  background-color: #efefef;
}
.header {
  display: flex;
  height: 50px;
  background-color: #fff;
  position: relative;
}
.header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #e1e1e1;
}
.icon-back {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../img/nav_icon_back@2x.png") no-repeat center;
  background-size: 25%;
}
.header_title {
  flex: 1;
  padding-right: 50px;
  line-height: 50px;
  text-align: center;
  font-family: "Arial", " Heiti SC", "宋体", sans-serif;
}
