$orange=#EA5404
body
    margin 0px
    padding 0px
    font-family SimHei
    background #EFEFF4
.header
    height 35px
    background-color #FFFFFF
    color $orange
    text-align center
    line-height 35px
    position relative
    .icon_back
        position absolute
        top 0
        left 0
        display inline-block
        width 35px
        height 35px
        background url('../../img/nav_icon_back@2x.png') no-repeat center 10px
        line-height 30px
        background-size 10px 16px
.banner_box
    height 35px
    line-height 35px
    color #C5C5C6
    text-indent 1rem
.info_box
    padding 10px 10px
    background-color #FFFFFF

    .info_img
        width 80px
        height 80px
        border-radius 50%
        background-color #878787
        margin 0 auto
        position relative
        margin-bottom 20px
        &:after
            content ''
            width 150%
            height 1px
            background-color #CCCCCC
            position absolute
            top 90px
            left -15px
        .info_txt
            position absolute
            top 50%
            left 10px
            display inline-block
            text-align  center
            margin-top -10px
            color #FFFFFF
    .info_cell
        width 80%
        height 35px
        background-color #efefe4
        border-radius 5px
        margin 10px auto
    .info_name
        line-height 35px
        padding 0px 10px
        color #c5c5c6
    .info_card
        height 60px
        background-color #878787
        width 100px
        margin 0 auto
        border-radius 5px
        line-height 60px
        text-align center

    .info_txt
        color: #FFFFFF
        font-size 12px
.footer
        height 100px
        background-color #FFFFFF
        position relative
    .footer_box
        height 60px
        background-color #878787
        width 100px
        margin 20px auto
        border-radius 5px
        line-height 60px
        text-align center
        position absolute
        margin-left 135px
    .tooter_txt
        color: #FFFFFF
        font-size 12px
.btn_box
    display -webkit-box
    display flex-box
    display flex
    display box
    height 50px
    margin-top 50px
    padding 0 15px
    .btn_login
        width 100%
        height 50px
        color #FFFFFF
        background-color $orange
        font-size 1.1rem
        display block
        line-height 50px
        border none
        border-radius 5px
        text-align center
