<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第三十七个故事</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/info/info-oh.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">我发布的需求</span>
</header>
<article class="demand_cells">
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><em class="text-time">08/04/13:06</em></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
        <footer class="demand-footer"><span class="btn-detail">了解详情</span></footer>
    </section>
</article>
</body>
<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="../../public/libs/zepto/touch.js"></script>
<script src="../../public/js/msg/msg_demand.js"></script>
</html>