<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>第三十七个故事</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/info/info.css">
</head>
<body>
<header class="header">
    <span class="header-title">我</span>
    <i class="icon-back"></i>
</header>
<div class="login_box">
    <div class="login_img"></div>
    <div class="login_con">点击登录/注册</div>
</div>
<div class="s_box">
    <div class="s_left"><span class="s_text">0</span><span class="s_txt">收藏</span></div>
    <div class="s_cont"><span>丨</span></div>
    <div class="s_right"><span class="s_text">0</span><span class="s_txt">积分</span></div>
</div>
<div class="link_cell">
    <span>我发布的需求</span>
</div>
<div class="link_cell1">
    <span>我发布的房源</span>
</div>
<div class="link_cell2">
    <span>我预约的需求</span>
</div>
<div class="link_cell3">
    <span>历史交易</span>
</div>
<div class="link_cell4">
    <span>过期房源</span>
</div>
<div class="end">
    <div class="end_five"><span class="end_text">首页</span></div>
    <div class="end_two"><span class="end_text">预约</span></div>
    <div class="end_three"></div>
    <div class="end_four"><span class="end_text">信息</span></div>
    <div class="end_one"><span class="end_texts one">我</span></div>
</div>

<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="../../public/libs/zepto/touch.js"></script>
<script src="../../public/js/index/index.js"></script>
</body>
<html>
