<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第三十七个故事</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/info/info_bge.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">我发布的房源</span>
</header>
<article>
        <ul class="list-ul">
            <li id="li" class="list-li">
                <section class="block_box">
                <div class="img_box"></div>
                <div class="info_box">
                    <div class="info-title">东方金融中心</div>
                    <div class="info-address">浦东-八佰伴</div>
                    <div class="info-tag_box"><span class="info-info">商务中心</span></div>
                    <div class="info-price"><span><em class="info-text">&yen;7</em> 元/平米/天起</span><span class="info-boss">佣金：1个月</span></div>
                </div>
                </section>
                <div id="show" class="btn">删除</div>
            </li>
            <li class="list-li">
                <section class="block_box">
                    <div class="img_box"></div>
                    <div class="info_box">
                        <div class="info-title">东方金融中心</div>
                        <div class="info-address">浦东-八佰伴</div>
                        <div class="info-tag_box"><span class="info-info">商务中心</span></div>
                        <div class="info-price"><span><em class="info-text">&yen;7</em> 元/平米/天起</span></div>
                    </div>
                </section>
                <div class="btn">删除</div>
            </li>
        </ul>

</article>
<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="../../public/libs/zepto/touch.js"></script>
<script src="../../public/js/info/info_bge.js"></script>

</body>
</html>
