<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>个人资料</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/info/infois.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">个人资料</span>
</header>

<div class="info-cells">
    <div class="info-cell">
        <span class="info-name">头像</span>
        <div class="info-contents"></div>
        <div class="info-img"></div>
    </div>
    <div class="info-cell">
        <span class="info-name">简介</span>
        <span class="info-content">现实生活中多了一条狗</span>
        <div class="info-img"></div>
    </div>
    <div class="info-cell">
        <span class="info-name">企业邮箱/公司总机</span>
        <span class="info-content">532752815@qq.com</span>
        <div class="info-img"></div>
    </div>
    <div class="info-cell">
        <span class="info-name">联系人</span>
        <span class="info-content">刘炘</span>
        <div class="info-img"></div>
    </div>
    <div class="info-cell">
        <span class="info-name">联系方式</span>
        <span class="info-content">15050594311</span>
        <div class="info-img"></div>
    </div>
    <div class="info-cell">
        <span class="info-name">微信号码</span>
        <span class="info-content">532752815</span>
        <div class="info-img"></div>
    </div>
    <div class="image-cell">
        <div class="image-block">
            <img src="" alt="">
            <p class="title">微信二维码</p>
        </div>
        <div class="image-block">
            <img src="" alt="">
            <p class="title">营业执照</p>
        </div>
        <div class="image-block">
            <img src="" alt="">
            <p class="title">租售代理协议</p>
        </div>
    </div>
</div>
</body>
</html>