<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第三十七个故事</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/info/info_shou.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">收藏</span>
</header>
<div class="s_box">
    <div class="s_left"><span class="s_txt">收藏</span></div>
    <div class="s_right"><span class="s_txt">积分</span></div>
    <div class="s_left"><span class="s_txt">收藏</span></div>
    <div class="s_right"><span class="s_txt">积分</span></div>
</div>
</body>
</html>