<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>经纪人/转租人</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/login/login_login.css">
</head>
<body>
<header class="header">
    <i class="icon_back"></i>
    <span class="header_title">经纪人</span>
</header>
<div class="banner_box">必填项</div>
<div class="info_box">
    <div class="info_img">
        <span class="info_txt">添加头像</span>
    </div>
    <div class="info_cell">
        <span class="info_name">姓名</span>
    </div>
    <div class="info_cell">
        <span class="info_name">所属公司</span>
    </div>
    <div class="info_cell">
        <span class="info_name">联系方式</span>
    </div>
    <div class="info_cell">
        <span class="info_name">擅长商圈</span>
    </div>
    <div class="info_card">
        <span class="info_txt">名片正面</span>
    </div>
</div>
<div class="banner_box">选填项</div>
<div class="footer">
    <div class="footer_box">
        <span class=tooter_txt>全国经纪人证书</span>
    </div>
</div>
<div class="btn_box">
    <div class="btn_login">完成</div>
</div>
</body>
</html>
