<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第三十七个故事</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/msg/msg_demand.css">
</head>
<body>
<header class="tab_box">
    <ul class="tab_bar">
        <li class="tab_bar-cell" onclick="location='hillod.html'">消息</li>
        <li class="tab_bar-cell" onclick="location='msg_msg.html'">通知</li>
        <li class="tab_bar-cell active">需求</li>
    </ul>
</header>
<article class="demand_cells">
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><i class="d-t-tag-a">租户</i></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/13:06</em></footer>
    </section>

    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><i class="d-t-tag-b">经纪人</i></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/13:06</em></footer>
    </section>

    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><i class="d-t-tag-c">招商</i></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/13:06</em></footer>
    </section>

    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><i class="d-t-tag-d">代理商</i></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/13:06</em></footer>
    </section>

    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><i class="d-t-tag-d">代理商</i></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/13:06</em></footer>
    </section>
</article>
<div class="end">
    <div class="end_four"><span class="end_text">首页</span></div>
    <div class="end_two"><span class="end_text">预约</span></div>
    <div class="end_three"></div>
    <div class="end_one"><span class="end_texts one">信息</span></div>
    <div class="end_five"><span class="end_tex">我</span></div>
</div>
</body>
<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="../../public/libs/zepto/touch.js"></script>
<script src="../../public/js/msg/msg_demand.js"></script>
</html>