body {
  background: #efeff4;
  font-family: SimHei;
}
.header {
  height: 40px;
  background-color: #fff;
  line-height: 40px;
}
.header .header-title {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.header .icon-back {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 55px;
  height: 42px;
  background: url("../../img/nav_set_icon@2x.png") no-repeat center;
  background-size: 16px 16px;
}
.login_box {
  position: relative;
  display: flex;
  height: 95px;
  margin-top: 10px;
  padding: 0 15px;
  background: #fff;
}
.login_box .login_img {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  border-radius: 50%;
  background: url("../../img/log in_user-head@2x.png") no-repeat center;
  background-size: cover;
}
.login_box .login_con {
  flex: 1;
  padding-left: 80px;
  line-height: 95px;
}
.login_box:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 20px;
  height: 30px;
  margin-top: -18px;
  background: url("../../img/log in_right_icon@2x.png") no-repeat center;
  background-size: 50%;
}
.s_box {
  background-color: #fff;
  text-align: center;
  color: #646464;
  display: flex;
}
.s_box:after {
  content: '';
  position: absolute;
  top: 145px;
  z-index: 5;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #efefef;
}
.s_box .s_left {
  flex: 1;
  display: inline-block;
  line-height: 35px;
  position: relative;
}
.s_box .s_left:after {
  position: absolute;
  content: '';
  height: 22px;
  width: 1px;
  background-color: #cecece;
  right: 0;
  top: 6px;
}
.s_box .s_right {
  flex: 1;
  display: inline-block;
  line-height: 35px;
}
.s_box .s_text {
  font-size: 20px;
  font-weight: bold;
}
.s_box .s_txt {
  font-size: 12px;
}
.link_cell {
  position: relative;
  height: 50px;
  padding-left: 45px;
  background: #fff url("../../img/content_list_icon01@3x.png") no-repeat left 15px center;
  background-size: 20px;
  line-height: 50px;
  margin-top: 10px;
}
.link_cell:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 15px;
  dispaly: block;
  width: 16px;
  height: 30px;
  margin-top: -8px;
  background: url("../../img/content_list_right_icon@2x.png") no-repeat right center;
  background-size: 50%;
}
.link_cell1 {
  position: relative;
  height: 50px;
  padding-left: 45px;
  background: #fff url("../../img/content_list_icon02@2x.png") no-repeat left 15px center;
  background-size: 20px;
  line-height: 50px;
  margin-top: 10px;
}
.link_cell1:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 15px;
  dispaly: block;
  width: 16px;
  height: 30px;
  margin-top: -8px;
  background: url("../../img/content_list_right_icon@2x.png") no-repeat right center;
  background-size: 50%;
}
.link_cell2 {
  position: relative;
  height: 50px;
  padding-left: 45px;
  background: #fff url("../../img/content_list_icon05@2x.png") no-repeat left 15px center;
  background-size: 20px;
  line-height: 50px;
  margin-top: 10px;
}
.link_cell2:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 15px;
  dispaly: block;
  width: 16px;
  height: 30px;
  margin-top: -8px;
  background: url("../../img/content_list_right_icon@2x.png") no-repeat right center;
  background-size: 50%;
}
.link_cell3 {
  position: relative;
  height: 50px;
  padding-left: 45px;
  background: #fff url("../../img/content_list_icon03@2x.png") no-repeat left 15px center;
  background-size: 20px;
  line-height: 50px;
  margin-top: 10px;
}
.link_cell3:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 15px;
  dispaly: block;
  width: 16px;
  height: 30px;
  margin-top: -8px;
  background: url("../../img/content_list_right_icon@2x.png") no-repeat right center;
  background-size: 50%;
}
.link_cell4 {
  position: relative;
  height: 50px;
  padding-left: 45px;
  background: #fff url("../../img/content_list_icon04@2x.png") no-repeat left 15px center;
  background-size: 20px;
  line-height: 50px;
  margin-top: 10px;
}
.link_cell4:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 15px;
  dispaly: block;
  width: 16px;
  height: 30px;
  margin-top: -8px;
  background: url("../../img/content_list_right_icon@2x.png") no-repeat right center;
  background-size: 50%;
}
.end {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 22px;
  display: flex;
  padding: 10px 5px;
  background-color: #fff;
  margin-top: -20px;
  border-top: 1px solid #d6d7dc;
}
.end .end_one {
  height: 57px;
  flex: 1;
  background: url("../../img/bottom_press_icon01@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.end .end_two {
  height: 57px;
  flex: 1;
  background: url("../../img/bottom_nor_icon03@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.end .end_three {
  height: 57px;
  flex: 1;
  background: url("../../img/bottom_icon05@2x.png") no-repeat center;
  background-size: 38px;
  margin-top: -18px;
}
.end .end_four {
  height: 57px;
  flex: 1;
  background: url("../../img/bottom_nor_icon02@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.end .end_five {
  height: 57px;
  flex: 1;
  background: url("../../img/bottom_nor_icon04@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.end .end_text {
  position: absolute;
  color: #b4b4b4;
  top: 28px;
  margin-left: 26px;
  font-size: 12px;
}
.end .end_texts {
  position: absolute;
  top: 28px;
  right: 36px;
  font-size: 12px;
}
.end .end_is {
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ec461f;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  margin-left: 40px;
  margin-top: 15px;
}
.end .one {
  color: #ea5404;
}
.end .end_tex {
  position: absolute;
  color: #b4b4b4;
  top: 28px;
  margin-left: 33px;
  font-size: 12px;
}
