$orange = #ED692B
body
  background-color #efefef
.tab_box
    height 32px
    padding 9px 0
    background-color #fff
.tab_bar
    display flex
    width 80%
    height 30px
    margin 0 auto
    padding 0
    list-style none
    border-radius 5px
    border 1px solid $orange
    color $orange
    .tab_bar-cell
        position relative
        flex 1
        line-height 30px
        text-align center
        &:after
            content ''
            position absolute
            top 0
            right 0
            display block
            width 1px
            height 30px
            background-color $orange
        &:last-child:after
            content ''
            display none
        &.active
            background-color $orange
            color #fff

.demand_cells
    padding 15px
    margin-top -15px

.demand_cell
    width 100%
    min-height 100px
    border-radius 5px
    box-shadow 0 0 1px 1px #e0e0e0
    line-height 30px
    background-color #fff
    margin-top 15px

    .demand-title
        display flex
        height 30px
        padding 0 10px
        border-bottom 1px dashed #cecece
        .d-t-name
            flex 1
            font-size 14px
        .d-t-tag-a
            display inline-block
            width 50px
            height 16px
            margin 7px 0
            padding 2px 0
            border-radius 5px
            background-color #15b755
            color #fff
            line-height 16px
            text-align center
            font-style normal
            font-size .6rem
        .d-t-tag-b
            display inline-block
            width 50px
            height 16px
            margin 7px 0
            padding 2px 0
            border-radius 5px
            background-color #0193e6
            color #fff
            line-height 16px
            text-align center
            font-style normal
            font-size .6rem
        .d-t-tag-c
            display inline-block
            width 50px
            height 16px
            margin 7px 0
            padding 2px 0
            border-radius 5px
            background-color #97b715
            color #fff
            line-height 16px
            text-align center
            font-style normal
            font-size .6rem
        .d-t-tag-d
            display inline-block
            width 50px
            height 16px
            margin 7px 0
            padding 2px 0
            border-radius 5px
            background-color #ea5404
            color #fff
            line-height 16px
            text-align center
            font-style normal
            font-size .6rem
    .demand-info
        margin 0
        padding 10px
        line-height 1.2em
        font-size 12px
    .demand-footer
        display flex
        height 30px
        padding 10px
        line-height 30px
        .btn-detail
            width 100px
            height 30px
            border-radius 5px
            border 1px solid #ececec
            background-color #efefef
            color #999988
            text-align center
        .text-time
            flex 1
            font-size .8rem
            font-style normal
            text-align right
            color #979797

.end
    position fixed
    bottom 0
    width 100%
    height 20px
    display flex
    padding 10px 5px
    background-color #fff
    margin-top -20px
    border-top 1px solid #d6d7dc
    .end_one
        height 57px
        flex 1
        background url("../../img/bottom_press_icon02@2x.png") no-repeat center
        background-size 22px
        margin-top -25px
    .active_one
        height 57px
        flex 1
        background url("../../img/bottom_nor_icon02@2x.png") no-repeat center
        background-size 22px
        margin-top -25px
        color #b4b4b4

    .end_two
        height 57px
        flex 1
        background url("../../img/bottom_nor_icon03@2x.png") no-repeat center
        background-size 22px
        margin-top -25px


    .end_three
        height 57px
        flex 1
        background url("../../img/bottom_icon05@2x.png") no-repeat center
        background-size 38px
        margin-top -18px
    .end_four
        height 57px
        flex 1
        background url("../../img/bottom_nor_icon04@2x.png") no-repeat center
        background-size 22px
        margin-top -25px
    .end_five
        height 57px
        flex 1
        background url("../../img/bottom_nor_icon01@2x.png") no-repeat center
        background-size 22px
        margin-top -25px
    .end_text
        position absolute
        color #b4b4b4
        top 28px
        margin-left 26px
        font-size 12px

    .end_texts
        position absolute
        top 28px
        margin-left 26px
        font-size 12px

    .one
        color #ea5404


    .end_tex
        position absolute
        color #b4b4b4
        top 28px
        margin-left 32px
        font-size 12px